<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <application>

        <provider
            android:name="cl.json.RNShareFileProvider"
            android:authorities="app.covidshield.release.rnshare.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:node="remove">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_download_paths" />
        </provider>
    </application>
</manifest>
